<% if @issue.errors.any? %>
    <ul>
      <% @issue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<table class="table">
	<tr>
		<td>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</td>
	</tr>

	<tr>
		<td>
			<%= f.label :content %> 
			<%= f.text_area :content %>
		</td>
	</tr>
	<tr>
		<%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category" %>
	</tr>

</table>