<h1><%= @issue.title %></h1> 
<div class="btn btn-success"> <%= @issue.category.try(:name) %></div>

<div class="wrap container" style="background-color: #ccc;">
	<h3>Content</h3>
	<p><%= @issue.content %></p>
	<% if current_user == @issue.user %>
			<%= link_to "Edit post", edit_issue_path, class: "btn btn-default"%>
			<%= link_to "Delete post", issue_path(@issue), method: :delete, class: "btn btn-danger" %>
	<% end %>
</div>

<table class="table" >
	<tr>
		<td>Comment</td>
		<td>User</td>
	</tr>
	<tbody>
	<% @comments.each do |comment| %>
		<tr>
			<td>
				<%= comment.content  %>
			</td>
			<td>
				<%= comment.user.email %>
			</td>
			<td>
			<% if current_user == comment.user %>
					<%= link_to "Delete", issue_comment_path(@issue, comment), method: :delete %>
					<%= link_to "Edit", edit_issue_comment_path(@issue, comment) %>
			<% end %>

			</td>
		</tr>
	<% end %>
	</tbody>

</table>
<%= paginate @comments %>
	
	
	<% if current_user %>
		<%= form_for @comment, :url => issue_comments_path(@issue) do |f| %>
		<%= f.text_field :content %>
		<%= f.submit "Reply" %>
		<% end %>
	<% end  %>
<%= link_to "Home", issues_path, class:"btn btn-default" %>